<!DOCTYPE html>
<html>
<head>
  <title>Online course</title>
  <%= stylesheet_link_tag    "online_course/application", media: "all" %>
  <%= javascript_include_tag "online_course/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
